<center><h1>Structural Time Series modeling in TensorFlow Probability</h1></center>

# 0. Prelim

## 0.1 Packages

In [2]:
from pathlib import Path

import numpy as np
import pandas as pd

import tensorflow_probability as tfp

## 0.2 Paths

In [3]:
DATA_FOLDER = Path("../../data")
RAW_DATA_FOLDER = DATA_FOLDER / "raw"

# 1. Data

In [30]:
# A. Extract Data
df_co2_by_month = pd.read_csv(
    RAW_DATA_FOLDER / "monthly_in_situ_co2_mlo.csv",
    skiprows=56, header=[1,2,3]
)

# B. Data Transformation
# B1. Select Columns
df_co2_by_month.columns = [(col[0].strip(), col[1].strip()) for col in df_co2_by_month.columns]
df_co2_by_month = df_co2_by_month.loc[: , [('Yr',''), ('Mn',''), ('CO2','')]]
df_co2_by_month.columns = [col[0].strip() for col in df_co2_by_month.columns]
# B2. Create Date Column

       Yr  Mn     CO2
0    1958   1  -99.99
1    1958   2  -99.99
2    1958   3  315.71
3    1958   4  317.45
4    1958   5  317.51
..    ...  ..     ...
787  2023   8  -99.99
788  2023   9  -99.99
789  2023  10  -99.99
790  2023  11  -99.99
791  2023  12  -99.99

[792 rows x 3 columns]